{
  "team": "/CxServer/Nova8",
  "sast": {
   "preset": "High and Medium",
   "incremental": "true",
   "fileExcludes": "*_test*, *-lock.json",
   "folderExcludes": "*test*, *Test*"
},
  "sca": {
  "team": "/CxServer"
},
  "additionalProperties": {
    "cxFlow": {
      "thresholds": {
        "HIGH": 0,
        "MEDIUM": 0
        }
    }
  }
}
